@use '../variables' as *;
@use '../helpers/' as *;

.page {
	max-width: $container-max-width;
	margin: rem(50) auto;

	background-color: $color-white;
	color: $color-black;

	display: flex;
	flex-direction: column;
}
