[submodule "source/junior/news-homepage-main"]
	path = source/junior/news-homepage-main
	url = git@github.com:Leccon1/news-homepage-main.git
[submodule "source/junior/contact-form-main"]
	path = source/junior/contact-form-main
	url = git@github.com:Leccon1/contact-form-main.git
[submodule "source/junior/faq-accordion-main"]
	path = source/junior/faq-accordion-main
	url = git@github.com:Leccon1/faq-accordion-main.git
[submodule "source/newbie/faq-accordion-main"]
	path = source/newbie/faq-accordion-main
	url = git@github.com:Leccon1/faq-accordion-main.git
[submodule "source/newbie/interactive-rating-component-main"]
	path = source/newbie/interactive-rating-component-main
	url = git@github.com:Leccon1/interactive-rating-component-main.git
[submodule "source/intermediate/space-tourism-website-main"]
	path = source/intermediate/space-tourism-website-main
	url = git@github.com:Leccon1/space-tourism-website-main.git
[submodule "source/junior/time-tracking-dashboard-main"]
	path = source/junior/time-tracking-dashboard-main
	url = git@github.com:Leccon1/time-tracking-dashboard-main.git
