.social-link {
	&__body {
		background-color: var(--grey-800);
		display: grid;
		justify-items: center;
	}
	&__avatar {
	}
	&__name {
	}
	&__residence {
	}
	&__description {
	}
	&__menu {
	}
	&__menu-list {
	}
	&__menu-item {
	}
	&__menu-link {
	}
}
.content-padding {
	padding: 30px;
}
