@use './var' as *;
@use './helpers' as *;

html {
	font-size: 62.5%; /* 1rem = 10px */
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	color: $color-white;
	font-family: $font-family-barlow;
	font-weight: $font-weight-normal;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

header {
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: rem(48) auto 0 auto;

	@include tablet {
		margin-top: 0;
	}
}

body.homepage {
	background-image: url('@assets/images/home/background-home-desktop.jpg');
}
