@use '@style/sass/var' as *;
@use '@style/sass/helpers/' as *;

body.technology {
	.hero {
		gap: rem(90);
		margin-right: 0;

		@include tablet {
			margin-left: 0;
		}

		&__intro {
			margin-left: rem(75);

			@include mobile {
				margin-left: 0;
			}
		}

		&__content {
			align-items: center;
			gap: rem(32);

			@include tablet {
				width: 100%;
				flex-direction: column-reverse;
			}
		}

		&__body {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			gap: rem(68);
			@include tablet {
				flex-direction: column;
				gap: rem(48);
			}
		}

		&__nav {
			display: flex;
			flex-direction: column;
			gap: rem(32);

			@include tablet {
				flex-direction: row;
			}

			.tech-btn {
				aspect-ratio: 1 / 1;
				width: fluid(40, 80, 768, 1440);
				border: $border-width solid rgba($color: #ffffff, $alpha: 0.25);
				border-radius: 50%;

				font-family: $font-family-bellefair;
				font-size: fluid(18, 32, 768, 1440);

				transition: all $transition-normal;

				&:hover:not(.tech-btn--active) {
					background-color: rgba($color-grey, $alpha: 0.3);
				}

				&--active {
					background-color: $color-white;
					color: $color-black;
				}
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: rem(24);

			@include tablet {
				align-items: center;
			}
		}

		&__subtitle {
			color: rgba($color-white, $alpha: 0.5);
			text-transform: uppercase;
			font-family: $font-family-bellefair;
			font-size: fluid(18, 32, 768, 1440);
			letter-spacing: 0px;
		}

		&__name {
			font-size: fluid(24, 56, 768, 1440);
		}

		&__image {
			flex: 1;

			@include tablet {
				width: 100%;
			}

			img {
				@include tablet {
					width: 100%;
				}
			}
		}
	}
}
