.container {
	background-color: var(--White);
	max-width: 750px;
	margin: 0 auto;
}

.__body-margin-botton {
	padding-bottom: 25px;
}

.title {
	font-weight: var(--fw-regular);
	letter-spacing: 0.9px;
}

.title-margin {
	margin-bottom: 20px;
}

.bold {
	font-weight: var(--fw-bold);
}

.content-padding {
	padding: 50px;
}

.border-radius {
	border-radius: 20px;
}
