@use '@style/sass/var' as *;
@use '@style/sass/helpers/' as *;

.hero {
	display: flex;
	flex-direction: row;
	gap: fluid(40, 300);
	margin: 0;

	@include tablet {
		align-items: center;
		flex-direction: column;
		gap: rem(24);
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: fluid(12, 24);
		text-transform: uppercase;

		@include tablet {
			align-items: center;
		}
	}

	&__subtitle {
		color: $color-white;
		font-family: $font-family-barlow-condensed;
		font-size: fluid(16, 28, 768, 1024);
		line-height: fluid(16, 19);
		letter-spacing: fluid(2, 4);
	}

	&__title {
		color: $color-white;
		font-family: $font-family-bellefair;
		font-weight: $font-weight-normal;
	}

	&__description {
		color: $color-blue-300;
		font-family: $font-family-barlow;
		font-size: fluid(15, 18);
		line-height: fluid(22, 35);
		text-align: left;
		text-transform: lowercase;

		@include tablet {
			text-align: center;
			width: rem(512);
			line-height: rem(30);
		}

		@include mobile {
			width: rem(330);
		}
	}
}
