@use '../variables' as *;
@use '../helpers/' as *;

.cart-dropdown {
	position: absolute;
	top: rem(70);
	right: 0;

	width: rem(380);
	height: rem(250);

	background-color: $color-white;

	border-radius: 8px;
	box-shadow: $box-shadow-lg;

	display: none;
	z-index: $z-index-modal;

	&--visible {
		display: block;

		.cart-dropdown__content-empty {
			display: none;
		}
	}

	&__title {
		position: relative;

		padding: rem(24);

		&::after {
			content: ' ';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			border: $border-width solid $color-light-grayish-blue;
		}
	}
	&__content {
		position: relative;

		height: 75%;
		display: flex;
		justify-content: center;
		flex-direction: column;

		padding: rem(24);
	}
	&__content-empty {
		position: absolute;
		inset: 0;
		place-self: center;

		color: $color-dark-grayish-blue;
		font-weight: $font-weight-bold;
	}
	&__content-btn {
		flex: 1;
		background-color: $color-orange;

		padding: rem(12) 0;
		border-radius: 12px;

		display: none;

		&--visible {
			display: block;

			.cart-dropdown__content {
				display: none;
			}
		}
	}
}
