@use '../variables' as *;
@use '../helpers/' as *;

.product {
	display: flex;
	flex-direction: row;
	gap: rem(150);

	&__info {
		display: flex;
		flex-direction: column;

		padding: rem(50) 0;
	}
	&__add {
		margin-top: rem(20);

		display: flex;
		flex-direction: row;
		gap: rem(24);
	}
	&__amount {
		flex: 1;
		background-color: $color-light-grayish-blue;
		font-weight: $font-weight-bold;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(38);

		padding: rem(10) rem(20);
		border-radius: rem(12);
	}
	&__amount-btn {
		color: $color-orange;

		font-size: rem(32);

		@include hover {
			opacity: $opacity-medium;
			cursor: pointer;
		}
	}
	&__add-btn {
		flex: 2;
		position: relative;
		background-color: $color-orange;

		font-weight: $font-weight-bold;

		border-radius: rem(12);
		transition: opacity $transition-fast;

		@include hover {
			opacity: $opacity-medium;
		}

		&::before {
			content: url('@images/icon-cart.svg');
			filter: brightness(0);
			position: absolute;
			inset: 0;
			align-self: center;
			top: 0;
			left: rem(60);
			width: 24px;
			height: 24px;
		}
	}
}
.gallery {
	display: flex;
	flex-direction: column;
	gap: rem(24);

	&__main {
		& img {
			border-radius: 18px;
		}
	}
	&__thumbnails {
		display: flex;
		flex-direction: row;
		gap: rem(24);

		&-item {
			& img {
				border-radius: 12px;
				transition: opacity $transition-fast;

				@include hover {
					opacity: $opacity-low;
				}
			}

			&--current {
				border: 2px solid $color-orange;
				border-radius: 18px;

				& > img {
					opacity: $opacity-low;
				}
			}
		}
	}
}
.product-suptitle {
	color: $color-dark-grayish-blue;

	font-size: rem(14);
	font-weight: $font-weight-bold;

	text-transform: uppercase;
}
.product-title {
	color: $color-very-dark-blue;

	font-size: rem(48);
	font-weight: $font-weight-bold;

	margin: rem(14) 0 rem(40) 0;
}
.product-description {
	color: $color-dark-grayish-blue;
}
.product {
	&__price {
		color: $color-very-dark-blue;

		font-size: rem(28);
		font-weight: $font-weight-bold;
	}
	&__price-new {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: rem(18);

		margin: rem(18) 0 0;
	}
	&__price-new-value {
	}
	&__price-new-discount {
		color: $color-white;
		background-color: $color-very-dark-blue;

		font-size: rem(22);

		padding: rem(2) rem(10);
		border-radius: 8px;
	}
	&__price-old {
		color: $color-dark-grayish-blue;
		font-size: rem(18);
	}
}
