@use '@style/sass/var' as *;
@use '@style/sass/helpers/' as *;

body.homepage {
	.hero {
		flex-direction: row;
		margin: fluid(128, 417, 1024, 1440) fluid(40, 165) 0;

		@include tablet {
			flex-direction: column;
			gap: rem(24);
			margin: fluid(128, 417, 1024, 1440) fluid(40, 165) 0;
		}

		@include mobile {
			margin-top: rem(48);
		}

		&__title {
			font-size: fluid(80, 144, 768, 1024);
		}
		&__content {
			display: flex;
			flex-direction: column;
			gap: rem(24);
		}

		&__btn {
			position: relative;
			aspect-ratio: 1 / 1;
			width: fluid(144, 272, 768, 1024);
			height: fluid(144, 272, 768, 1024);
			border-radius: 50%;
			background-color: $color-white;
			color: $color-blue-900;
			font-family: $font-family-bellefair;
			font-size: fluid(18, 32);
			text-transform: uppercase;

			transition: all $transition-normal;

			@include tablet {
				margin-top: rem(100);
			}

			@include hover {
				transform: scale(1.03);
			}
			&:active {
				transform: scale(1.01);
			}
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: inherit;
				transform: translate(-50%, -50%) scale(1);
				opacity: 0;
				transition: transform 0.6s ease, opacity 0.6s ease;
			}

			&:hover::after {
				transform: translate(-50%, -50%) scale(1.6);
				opacity: 0.18;
			}
		}
	}
}
