@use '../helpers' as *;

.card--purple {
	background-color: var(--purple-500);
	grid-area: 1 / 1 / 2 / 3;

	@include tablet {
		grid-area: 1 / 1 / 3 / 2;
	}
}

.card__pattern-quotation {
	position: absolute;
	top: 0;
	right: 70px;
	z-index: 1;

	@include tablet {
		z-index: -1;
	}

	@include mobile {
		z-index: -1;
	}
}
