@use '../helpers' as *;

.card__container {
	display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;

	@include mobile {
		margin-top: 80px;
		display: flex;
		flex-direction: column;
	}
}
