@use 'helpers' as *;

body {
	background-color: #f8f9fc;
	width: 1500px;
	margin: 0 auto;
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--grey-500);

	@include mobile {
		width: 320px;
	}
}
