:root {
	/* primary */

	--red: rgb(255, 0, 0);
	--cyan: rgb(69, 211, 211);
	--orange: rgb(252, 175, 74);
	--blue: rgb(84, 158, 242);
	--grey-500: rgb(76, 78, 97);
	--grey-400: rgb(105, 112, 119);
	--white: rgb(255, 255, 255);

	--font-family: 'poppins';

	--font-size: 15px;
}
