@use '../variables' as *;
@use '../helpers/' as *;

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	background-color: $color-grey-950;
	color: $color-white;

	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: $font-family-base;
	font-size: rem(15);
}
