@use './var' as *;
@use './helpers' as *;

html {
	font-size: 62.5%; /* 1rem = 10px */
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: $color-blue-900;
	color: $color-white;
	font-family: $font-family-barlow;
	font-weight: $font-weight-normal;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: rem(48) auto 0 auto;

	@include tablet {
		margin-top: 0;
	}
}

body.homepage {
	background-image: url('@images/home/background-home-desktop.jpg');

	@include tablet {
		background-image: url('@images/home/background-home-tablet.jpg');
	}

	@include mobile {
		background-image: url('@images/home/background-home-mobile.jpg');
	}
}

body.destinations {
	background-image: url('@images/destination/background-destination-desktop.jpg');

	@include tablet {
		background-image: url('@images/destination/background-destination-tablet.jpg');
	}

	@include mobile {
		background-image: url('@images/destination/background-destination-mobile.jpg');
	}
}

body.crew {
	background-image: url('@images/crew/background-crew-desktop.jpg');

	@include tablet {
		background-image: url('@images/crew/background-crew-tablet.jpg');
	}

	@include mobile {
		background-image: url('@images/crew/background-crew-mobile.jpg');
	}
}

body.technology {
	background-image: url('@images/technology/background-technology-desktop.jpg');

	@include tablet {
		background-image: url('@images/technology/background-technology-tablet.jpg');
	}

	@include mobile {
		background-image: url('@images/technology/background-technology-mobile.jpg');
	}
}
