@use '@style/sass/var' as *;
@use '@style/sass/helpers/' as *;

body.destinations {
	background-position: top;
	.hero {
		margin: fluid(40, 48, 1024, 1440) fluid(40, 165);
		flex-direction: column;
		gap: fluid(72, 167, 375, 1440);

		@include tablet {
			gap: rem(100);
			margin-bottom: rem(55);
		}
		@include mobile {
			gap: rem(48);
			margin-bottom: rem(24);
		}

		&__intro {
			align-self: flex-start;
			display: flex;
			flex-direction: row;
			gap: rem(24);

			font-family: $font-family-barlow-condensed;

			@include mobile {
				align-self: center;
			}
		}
		&__label {
			color: $color-white;
			opacity: 0.25;
			font-size: fluid(16, 28, 375, 1440);
			font-weight: $font-weight-bold;
			letter-spacing: rem(5);
		}
		&__title {
			font-size: fluid(16, 28, 375, 1440);
		}
		&__content {
			flex-direction: row;
			gap: fluid(48, 180, 375, 1920);

			@include tablet {
				flex-direction: column;
			}
		}
		&__image {
			width: fluid(228, 445, 375, 1440);
			flex: 1;
		}
		&__name {
			font-family: $font-family-bellefair;
			font-size: fluid(56, 96, 375, 1440);
			font-weight: $font-weight-normal;
		}
		&__description {
		}
		&__stats {
			position: relative;
			display: flex;
			flex-direction: row;
			gap: rem(84);
			&::before {
				@include hr;

				top: 0;
			}
		}
	}
	.destinations {
		&__info {
			display: flex;
			flex-direction: column;
			gap: rem(40);
			flex: 1;

			@include tablet {
				align-items: center;
			}
		}
		&__nav {
			display: flex;
			flex-direction: row;
			gap: rem(32);

			button {
				position: relative;
				text-transform: uppercase;
				font-family: $font-family-barlow-condensed;
				font-size: fluid(18, 22, 375, 1440);
				padding-bottom: rem(12);

				transition: width $transition-normal;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: rem(2);
					background-color: $color-white;
					transform: scaleX(0);
					transform-origin: left;
					transition: transform 0.3s ease;
				}

				@include hover {
					&::after {
						transform: scaleX(1);
					}
				}
			}
		}
	}
	.stat {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		text-align: left;
		text-transform: uppercase;
		margin-top: rem(40);
		&__label {
			font-family: $font-family-barlow;
			font-size: rem(14);
			letter-spacing: rem(2);
		}
		&__value {
			font-size: rem(28);
		}
	}
}
