@use '../variables' as *;
@use '../helpers/' as *;

.header {
	position: relative;

	margin-top: rem(50);
	padding-bottom: rem(30);

	display: flex;
	align-items: center;
	justify-content: space-between;

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;
		border-bottom: 1px solid $color-grayish-blue;
	}

	&__nav-wrapper {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: rem(48);
	}
}
.nav {
	&__list {
		display: flex;
		flex-direction: row;
		gap: rem(32);
	}
	&__link {
		position: relative;

		color: $color-dark-grayish-blue;
		padding: 0 0 rem(46) 0;

		transition: color $transition-fast;

		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			inset: 0;
			width: 0;
			border-bottom: 5px solid $color-orange;

			transition: width $transition-fast;
		}

		@include hover {
			color: $color-black;

			&::after {
				width: 100%;
			}
		}
	}
}
.header-controls {
	display: flex;
	gap: rem(32);
}
.cart-icon {
	@include hover {
		filter: contrast(100);
	}
}
.btn-profile {
	width: 35%;
	height: auto;
	border-radius: 50%;
	border: 2px solid rgba($color: #000000, $alpha: 0);

	transition: border-color $transition-fast;

	@include hover {
		border-color: $color-orange;
	}
}
