@use '../variables' as *;
@use '../helpers/' as *;

.main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 24px;

	@include mobile {
		display: flex;
		flex-direction: column;
		gap: rem(50);
	}
}
