@font-face {
	font-family: 'Inter';
	src: url('@assets/fonts/static/Inter-Regular.ttf') format('woff2'),
		url('@assets/fonts/static/Inter-Regular.ttf') format('woff'),
		url('@assets/fonts/static/Inter-Regular.ttf') format('truetype'),
		url('@assets/fonts/static/Inter-Regular.ttf') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('@assets/fonts/static/Inter-Bold.ttf') format('woff2'),
		url('@assets/fonts/static/Inter-Bold.ttf') format('woff'),
		url('@assets/fonts/static/Inter-Bold.ttf') format('truetype'),
		url('@assets/fonts/static/Inter-Bold.ttf') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('@assets/fonts/static/Inter-ExtraBold.ttf') format('woff2'),
		url('@assets/fonts/static/Inter-ExtraBold.ttf') format('woff'),
		url('@assets/fonts/static/Inter-ExtraBold.ttf') format('truetype'),
		url('@assets/fonts/static/Inter-ExtraBold.ttf') format('svg');
	font-style: normal;
	font-weight: 800;
}
