@use '../variables' as *;
@use './functions' as *;

@mixin square($size) {
	width: $size;
	height: $size;
}

@mixin rectangle($width, $height) {
	width: $width;
	height: $height;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin outline {
	outline: rem(1) solid $color-grey-500;
}
