@use '@style/sass/var' as *;
@use '@style/sass/helpers/' as *;

body.crew {
	.hero {
		gap: rem(53);

		@include tablet {
			margin-bottom: 0;
			gap: rem(64);
		}

		&__content {
			align-items: center;
			gap: rem(32);

			@include tablet {
				flex-direction: column;
			}
		}

		&__info {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: rem(24);

			@include tablet {
				align-items: center;
			}
		}

		&__subtitle {
			font-family: fluid(18, 32, 768, 1440);
		}

		&__name {
			font-size: fluid(24, 56, 768, 1440);
		}

		&__image {
			flex: 1;

			@include tablet {
				transform: scale(1.1);
			}

			@include mobile {
				transform: scale(0.9);
			}
		}

		&__slider {
			display: flex;
			flex-direction: row;
			gap: fluid(16, 40, 768, 1440);
		}

		&__dot {
			background-color: rgba(255, 255, 255, 0.17);
			aspect-ratio: 1 / 1;
			width: fluid(10, 15, 768, 1440);
			border-radius: 50%;

			&--active {
				background-color: $color-white;
			}
		}
	}
}
