@use '@style/sass/_var' as *;
@use '@style/sass/helpers/' as *;

.calculator {
	width: 100%;
	height: 100%;
	&__amount {
		position: relative;
		display: flex;
		flex-direction: column;

		&::before {
			content: '';
			background-image: url('@image/icon-dollar.svg');
			background-repeat: no-repeat;
			position: absolute;
			width: rem(16);
			height: rem(16);
			bottom: rem(15);
			left: rem(15);
		}
		&-input {
			background-color: $color-grey-50;
			color: $color-green-900;
			padding: rem(5);
			text-align: right;
			border: none;
			font-size: rem(24);
			font-weight: $font-weight-bold;
			transition: outline $transition-normal;

			&:focus {
				outline-color: $color-green-hover;
			}
			&::placeholder {
				color: $color-grey-400;
				text-align: right;
			}
		}
	}
	&__tip {
		margin: rem(40) 0;

		&-buttons {
			margin-top: rem(20);
			display: grid;
			grid-template-columns: repeat(3, 100px);
			grid-template-rows: repeat(2, 35px);
			gap: rem(10);

			@include mobile {
				grid-template-columns: repeat(2, 125px);
				grid-template-rows: repeat(3, 45px);
				justify-content: center;
				gap: rem(15);
			}
		}

		&-button {
			background-color: $color-green-900;
			color: $color-white;
			font-size: rem(20);
			font-weight: $font-weight-bold;
			border-radius: rem(5);
			transition: background-color $transition-normal;

			@include hover {
				background-color: $color-green-hover;
				color: $color-green-900;
			}
			@include mobile {
				width: rem(125);
			}
		}

		&-input {
			color: $color-green-900;
			font-size: rem(20);
			font-weight: $font-weight-bold;
			border: none;
			text-align: right;
			padding: rem(5);
			transition: outline $transition-normal;

			&::placeholder {
				text-align: center;
				color: $color-grey-500;
			}

			&:focus {
				outline-color: $color-green-hover;
			}
		}
	}
	&__people {
		position: relative;
		display: flex;
		flex-direction: column;

		&::before {
			content: '';
			background-image: url('@image/icon-person.svg');
			background-repeat: no-repeat;
			position: absolute;
			width: rem(16);
			height: rem(16);
			bottom: rem(15);
			left: rem(15);
		}
	}
	&__people-input {
		background-color: $color-grey-50;
		color: $color-green-900;
		padding: rem(5);
		text-align: right;
		border: none;
		font-size: rem(24);
		font-weight: $font-weight-bold;
		transition: outline $transition-normal;

		&:focus {
			outline-color: $color-green-hover;
		}
		&::placeholder {
			color: $color-grey-400;
			text-align: right;
		}
		&--error {
			&:focus {
				outline-color: $color-danger;
			}
		}
	}
	&__people-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__people-error {
		opacity: 0;
		color: $color-danger !important;
		transition: all $transition-fast;
	}
}
