@use '@style/sass/_var' as *;
@use '@style/sass/helpers/' as *;

.result {
	width: 100%;
	background-color: $color-green-900;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: rem(15);
	padding: rem(30);

	@include mobile {
	}

	&__values {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	&__tip {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: rem(40);

		@include mobile {
			gap: rem(80);
		}
		&-container {
			display: flex;
			flex-direction: column;
		}
		&-label {
			color: $color-white;
			font-size: rem(12);
			font-weight: $font-weight-bold;
		}
		&-percent {
			font-weight: $font-weight-bold;
		}
		&-amount {
			color: $color-green-400;
			font-size: rem(32);
			font-weight: $font-weight-bold;
		}
	}
	&__total {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: rem(65);

		@include mobile {
			gap: rem(105);
		}
		&-container {
			display: flex;
			flex-direction: column;
		}
		&-label {
			color: $color-white;
			font-size: rem(12);
			font-weight: $font-weight-bold;
		}
		&-amount {
			color: $color-green-400;
			font-size: rem(32);
			font-weight: $font-weight-bold;
		}
	}
	&__reset {
		width: 100%;
		height: rem(40);
		background-color: rgb(14, 93, 97);
		color: $color-green-900;
		margin-top: rem(70);
		font-size: rem(20);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		border: none;
		border-radius: rem(5);
		cursor: pointer;
		transition: background-color $transition-fast;

    @include mobile {
      margin-top: rem(30);
    }

		&:not(:disabled):hover {
			background-color: $color-green-hover;
		}
		&:disabled {
			cursor: not-allowed;
			pointer-events: none;
		}
	}
}
